.navbarConatienr{
    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;
}

.logoutBtnConatainer{
    padding-right:20px ;
}

.logoutBtnConatainer button{
    font-size: xx-large;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}


@media (max-width:760px) {

    .navbarConatienr{
      
        height: 60px;
    }
    .navbarConatienr{
        font-size: smaller;
    }
    .logoutBtnConatainer button{
        font-size: large;
    }

    .logoutBtnConatainer{
        /* padding-right:20px ; */
        height: 40px;
        display: flex;
        justify-content: center;
        padding-right: 10px;
    }
    h1{
        height: 40px;
    }
}
