*{
    font-family: poppins;
}

.loginContainer{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginInnerContainer{
    width: 22%;
    min-width: 280px;
    height: max-content;
    border: 1px solid #adadad;
    border-radius: 10px;
    padding: 15px;

}
h1{
    text-align: center;
}
.inputBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.loginInputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.loginInputContainer input{
    width: 100%;
    padding: 5px;
    border: 1px solid #adadad;
    border-radius: 5px;
}
.btnContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.nav{
    font-size: small;
    margin-top: 10px;
}

.btnContainer button{
    width: 50%;
    color: #fff;
    font-weight: 500;
    padding: 8px 0;
    border-radius: 5px;
    background-color: #000;
    border: 1px solid #000;
    font-size: medium;
    cursor: pointer;

}

.errorMessage {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  
  .errorInput {
    border: 1px solid red;
  }
  
  .successMessage {
    color: green;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .radioConatienr{
    width: 40%;
    display: flex;
    gap: 10px;
  }
  .radioSignUp{
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
  }